body {
  background-color: green;
}

.column {
  flex: 50%;
}

.text-container-row img {
  width: 100%;
}

.hamburger {
  display: none; /*will only make it visible sometimes*/
  background-color: black;
  width: 35px;
  height: 5px;
  margin: 6px 0;
}

.text-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space space-around;
}
