/*exercise*/

.p11 {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

h1 {
  font-size: 18px;
}

.important-dates {
  font-weight: bold;
}

.wiki {
  font-style: italic;
}

.date1 {
  font-weight: bold;
}

.st {
}
