/* @media screen and (max-width: 600px) { */
  body {
    background-color: blue;
  }
  .text-container-row {
    display: flex;
    flex-direction: column;
    justify-content: space space-around;
  }

  .hamburger {
    display: block;
    background-color: black;
    width: 35px;
    height: 5px;
    margin: 6px 0;
  }

  .text-nav {
    display: none;
  }
}
/* 
@media screen and (min-width: 600px) {
  body {
    background-color: red;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-color: yellow;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  body {
    background-color: red;
  }
} */
