/*font link*/
@font-face {
  font-family: "Pacifico";
  src: url(../fonts/Pacifico-Regular.ttf);
}

:root {
  /*every css page needs the root*/
  font: size 16px;
  --color-font: rgba(23, 4, 5, 0.3);
  --gabriela-main-text: 2px 2px;
}

/*font family*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.head-one {
  font-family: "Pacifico", cursive;
  color: var(--color-font);
  padding: var(--gabriela-main-text);
  direction: rtl;
  /*text-shadow*/
  text-shadow: 2px 2px 2px orange, 3px 3px 3px pink;
}

div {
  font-size: 20px;
  font-family: "Pacifico", cursive;
}

/*font size*/
.p1 {
  font-size: 2em; /*would multiply the number by the parent element*/
  font-style: initial; /*initial from the root*/
  color: blue;
  font-weight: 900;
  /* font: italic 2rem "Arial"; --> here you combine all features in one */
  text-shadow: 2px 2px 2px orange, 3px 3px 3px pink;
}

.p2 {
  font-size: x-small;
  font-style: inherit;
  color: darkorange;
}

.p3 {
  font-size: 2em; /*do not use cm, mm or inch!!*/
  font-style: oblique 10deg; /*you can tilt it with oblique*/
  color: darkmagenta; /*inherit from the parent element and initial from the root*/
  /*line-height*/
  /* css will calculate the px in between the lines */
  line-height: 5rem;
  text-align: center;
}

.p4 {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: indigo;
  line-height: 3rem;
  font-style: oblique;
  text-align: right;
  /*text transform*/
  text-transform: uppercase;
  direction: rtl;
}

.p5 {
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 4rem;
  font-style: oblique 50deg;
  text-align: center;
}

.p6 {
  font-family: fantasy;
  color-interpolation-filters: linearRGB;
  border-color: lawngreen;
  border: lawngreen;
  border-radius: 2em;
}

.p7 {
  font-family: monospace;
  color-interpolation-filters: linearRGB;
  line-height: 6rem;
  border-radius: 2em;
  font-weight: bolder;
  font-variant: small-caps;
}

.p8 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color-interpolation-filters: linearRGB;
  line-height: 2rem;
  border-radius: 2em;
  font-weight: bolder;
  font-variant: normal;
}

.p9 {
  /*writing-mode*/
  writing-mode: vertical-lr;
  /*text-orientation*/
  text-orientation: upright;
}

.p10 {
  /* word-break --> break in between words */
  /* word-break: break-all; */
  word-break: keep-all;
  text-indent: 3rem; /* the first letter will go 48px to the right*/
  word-spacing: 5rem;
}

/*exercise*/

.p11 {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

h1 {
  font-size: 18px;
}

.important-dates {
  font-weight: bold;
}

.wiki {
  font-style: italic;
}

.date1 {
  font-weight: bold;
}

.p12 {
}

.p13 {
}

.p14 {
}

/*icon*/

i {
  color: hotpink;
}
