* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --box-width: 3rem;
  --box-color: yellow;
}

body {
  background-color: teal;
}

.main-container {
  display: flex;
  justify-content: center;
  /* align-items: baseline; */
}

.x-menu {
  margin: 1rem;
  border: 1px tomato solid;
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center; /*align items inside the box*/
  justify-content: space-evenly; /*separating the lines evenly*/
  flex-direction: column; /*this is positioning the two lines in the middle*/
  /* position: relative; */

  /* animation-name: x-men;
  animation-duration: 2s;
  animation-iteration-count: infinite; */
  /* width: 4rem;
  height: 3.5rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  z-index: -1;
  animation-name: x-men;
  animation-duration: 5s;
  animation-iteration-count: infinite; */
}

.x-menu:hover {
  border: 1px tomato solid;
}

.line-one,
.line-sec {
  width: 5.5rem;
  height: 1.5rem;
  background-color: tomato;
  animation-name: x-men;
  border-radius: 20%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.x-menu:hover .line-one {
  width: 6.5rem;
  height: 2.5rem;
  border-radius: 20%;
  animation-name: x-men;
  transform: skew(30deg, 40deg);
  position: absolute;
  animation-duration: 5s;
}

.x-menu:hover .line-sec {
  width: 6.5rem;
  height: 2.5rem;
  border-radius: 20%;
  animation-name: x-men;
  transform: skew(-30deg, -40deg);
  position: absolute;
  animation-duration: 5s;
}

/* @keyframes x-men {
  0% {
    background-color: lightgray;
    width: 4rem;
    height: 3.5rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: -1;
    animation-name: x-men;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  50% {
    background-color: lightgray;
    width: 5rem;
    height: 5.5rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: -1;
    animation-name: x-men;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  100% {
    background-color: rgb(253, 0, 0);
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: -1;
    animation-name: x-men;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
} */
