* {
  box-sizing: border-box;
  margin: 0;
}

/*pseudo-element is a key word added to a selector that lets you style a specific part of the selected element*/

[type="text"]::placeholder {
  color: orange;
  font-family: Arial;
}

/*pseudo-class is a keyword added to a selector that specifies a special state of the selected elements*/

/*more pseudo-classes*/

/*::before vs :before*/
/*2 columns--> css3 pseudo-elements*/
/*css 3 and css*/

/* first letter (:first letter) */

.text::first-letter {
  color: yellowgreen;
  font-weight: bold;
  font-size: 40px;
}

/*display none vs. opacity*/
.cult-image {
  width: 400px;
  height: 200px;
  box-shadow: 3px 3px 3px rgba(150, 245, 221, 0.6);
  filter: grayscale(50);
  margin-bottom: 3rem;
}

.cult-image:hover {
  width: 409px;
  transition: 2s ease-in; /*direction in or out*/
  height: 250px;
  filter: grayscale(0);
  opacity: 1;
}

/*vh & vw (view width) % has to do with the user settings whereas this will apply no matter what*/

.menu {
  width: 15vw;
  height: 100vh;
  background-color: orange;
  align-items: center;
  text-align: left;
  padding-left: 1.5rem;
  display: flex;
}

.main-text {
  position: absolute;
  top: 0;
  left: 15%;
  margin: 0;
  color: red;
  /* background-color: pink; */
  background-image: url(../img/cult.jpg);
  font-size: 2rem;
  width: 85vw; /*view width*/
  height: 100vh; /*view height*/
  text-align: center;
  display: flex;
  align-items: center; /*this aligns the text at the center from top to bottom*/
  justify-content: center;
}

.form-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50vh;
  background-color: rebeccapurple;
}

form {
  /* justify-content: center;
  align-items: center; */
  display: inline-block;
  text-align: center;
}

/*visual content like img*/

/* .text {
  justify-content: center;
  align-items: center;
  text-align: center;
} */

.move-elements-center {
  /* display: block; */
  text-align: center;
  background-color: yellow;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer-space {
  height: 10em;
  background-color: green;
}

.random-text {
  background-color: magenta;
  text-align: center;
  padding: 2rem 1rem 3rem 1rem;
}

.random-text::first-letter {
  color: goldenrod;
  font-weight: bold;
  font-size: 40px;
}
